<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banyan.com.gememployee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login"></activity>
        <activity
            android:name=".Services_Tab_PendingOngoing"
            android:label="Pending and On Going"></activity>
        <activity
            android:name=".Services_Tab_CompletedComplaints"
            android:label="Completed Complaints"></activity>
        <activity
            android:name=".Activity_Completed_complaints_description"
            android:label="Completed Complaints"></activity>
        <activity
            android:name=".Activity_Pending_complaints_description"
            android:label="Pending Complaints"></activity>
        <activity
            android:name=".Activity_Pending_Complaint_Update"
            android:screenOrientation="portrait"
            android:label="Complaint Process"></activity>
        <activity
            android:name=".Reports_Tab_All"
            android:label="ALL Reports"></activity>
        <activity
            android:name=".Reports_Tab_Warranty_Complaint"
            android:label="Warranty Complaint"></activity>
        <activity
            android:name=".Reports_Tab_OutofWarranty_Service"
            android:label="Out Of Warranty"></activity>
        <activity
            android:name=".Reports_Tab_Erection"
            android:label="Erection"></activity>
        <activity
            android:name=".Reports_Tab_PreCommisioning_Commisioning"
            android:label="Pre-Commisioning / Commisioning"></activity>
        <activity
            android:name=".Reports_Tab_AMC"
            android:label="AMC"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>